*
!*/
!/CLAUDE.md
!/README.md
!/.gitignore

# HOME
!/adm/admin.menu950.php
!/adm/css/admin.css
!/adm/css/gk_admin.css
!/adm/img/menu_shield.png
!/adm/security_home.php

# 접근제어
!/adm/access_control.php
!/adm/access_control_reset.php
!/adm/access_control_update.php
!/adm/create_access_control_table.php

# 차단관리
!/adm/security_block/
!/adm/security_block/*

# 정책관리
!/adm/security_extension.php

# 스팸관리
!/adm/security_spam/
!/adm/security_spam/*

# EXTEND
!/extend/register_access_control.php
!/extend/security_*.extend.php
