*
!*/
!/CLAUDE.md
!/README.md
!/.gitignore
!/adm/access_control.php
!/adm/access_control_reset.php
!/adm/access_control_update.php
!/adm/admin.menu950.php
!/adm/create_access_control_table.php
!/adm/css/admin.css
!/adm/img/menu_shield.png
!/adm/security_block.php
!/adm/security_home.php
!/adm/security_ip_block.sql
!/adm/security_extension.php
!/extend/security_ip_blocker.php
!/extend/security_ip_check.php
!/extend/register_access_control.php
